* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.container{
  margin-right: 5em;
  margin-left: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100vw;}
.calendarContainer{

  height: max-content;
  scroll-behavior: none;
}
.patientContainer{

  max-height: 80vh;
  min-height: 80vh;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin:1rem
}
.addPatientButton{

  margin-bottom: 3em;
  
}
.driverContainer{


  max-height: 80vh;
  min-height: 80vh;
  overflow: scroll;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin:1rem;
}