* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.container{

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100vw;}

.calendarContainer{
  scroll-behavior: none;
}
.patientContainer{
  

  border-radius: 1em;
  display: flex;
  flex-direction: column;

}
.addPatientButton{

  margin-bottom: 3em;
  
}
.driverContainer{

  overflow: scroll;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin:1rem;
}
.bg-off-white{
  background-color: rgb(255, 255, 255);
}
.popover-container {
  width: max-content;
}
.over-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.over-buttons *{
  margin-right:1.25em;
  padding: 0;
}
